!config/
!deps*.zip
*.iml
.cxx
.DS_Store
.externalNativeBuild
.gradle
/.idea/libraries
/.idea/workspace.xml
/app/jni/sdl3
/app/jni/sqlite3/*.c
/app/jni/sqlite3/*.h
/app/jni/libintl-lite
/app/jni/libhidapi
/app/jni/lua
/app/build
/build
/captures
/local.properties
