name: Cataclysm Android build

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "build-data/osx/**"
      - "docs/**"
      - "doxygen_doc/**"
      - "gfx/**"
      - "lang/**"
      - "lgtm/**"
      - "tools/**"
      - "!tools/format/**"
      - "utilities/**"
      - "scripts/**"
      - "**.md"
      - "**.mdx"

# We only care about the latest revision of a PR, so cancel previous instances.
concurrency:
  group: android-build-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: true

jobs:
  build_catatclysm:
    name: Build
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up JDK 11 (android)
        uses: actions/setup-java@v4.1.0
        with:
          java-version: "11"
          distribution: "adopt"

      - name: Setup build and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gcc-14 gettext libsqlite3-dev zlib1g-dev zip
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 100
          g++ --version

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: android-pr-${{ github.ref_name }}
          restore-keys: |
            android-pr-${{ github.ref_name }}
            android-pr-main
            android-pr-
          max-size: 500M
          verbose: 2
          save: ${{ github.event_name != 'pull_request' }}

      - name: Build
        working-directory: ./android
        env:
          NDK_CCACHE: ccache
        shell: bash
        run: |
          chmod +x gradlew
          ./gradlew -Pj=$(nproc) -Pabi_arm_32=false assembleExperimentalDebug

      - name: Create PR debug distribution zip
        shell: bash
        run: |
          artifact_suffix="pr-${{ github.event.pull_request.number }}-${GITHUB_SHA::7}"
          apk_path=$(ls -1 android/app/build/outputs/apk/experimental/debug/*.apk | head -n1)
          cp "${apk_path}" "cbn-android-debug-${artifact_suffix}.apk"
          zip "cbn-android-debug-${artifact_suffix}.zip" "cbn-android-debug-${artifact_suffix}.apk"

      - name: Upload PR debug distribution zip
        uses: actions/upload-artifact@v4.6.0
        with:
          name: cbn-android-debug-pr-${{ github.event.pull_request.number }}
          path: cbn-android-debug-*.zip
          if-no-files-found: error
          retention-days: 14
