name: PR debug artifacts

on:
  pull_request:
    branches: [main]
    paths-ignore: [docs/**, scripts/**, "**.md", "**.mdx"]
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_dispatch:

concurrency:
  group: pr-debug-artifacts-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  ZSTD_CLEVEL: 17

jobs:
  linux_debug_tiles:
    name: Linux (tiles) Debug
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install dependencies (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install gcc-14 libncursesw5-dev libsdl2-dev libsdl2-ttf-dev libsdl2-image-dev \
            libsdl2-mixer-dev libpulse-dev mold gettext parallel libsqlite3-dev zlib1g-dev ninja-build zip
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 100
          g++ --version

      - name: Setup ccache (Linux)
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: pr-linux-debug-tiles-${{ github.ref_name }}
          restore-keys: |
            pr-linux-debug-tiles-${{ github.ref_name }}
            pr-linux-debug-tiles-main
            pr-linux-debug-tiles-
          max-size: 500M
          verbose: 2
          save: false

      - name: Configure and Build with CMake (Linux)
        uses: lukka/run-cmake@v10
        with:
          configurePreset: dist-tiles
          buildPreset: dist-tiles
          configurePresetAdditionalArgs: "['-DCMAKE_BUILD_TYPE=Debug']"

      - name: Create distribution package (Linux)
        shell: bash
        run: |
          artifact_suffix="pr-${{ github.event.pull_request.number || github.ref_name }}-${GITHUB_SHA::7}"
          dist_dir="cataclysmbn-${artifact_suffix}"

          cmake --install build --prefix "${dist_dir}"
          zip -r "cbn-linux-tiles-debug-${artifact_suffix}.zip" "${dist_dir}"

      - name: Upload artifact (Linux)
        uses: actions/upload-artifact@v4.6.0
        with:
          name: cbn-linux-tiles-debug-pr-${{ github.event.pull_request.number || github.ref_name }}
          path: cbn-linux-tiles-debug-*.zip
          if-no-files-found: error
          retention-days: 14

  windows_debug_tiles:
    name: Windows (tiles) Debug (MSVC)
    runs-on: windows-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    env:
      VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
      CMAKE_PRESET: windows-tiles-sounds-x64-msvc
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup msys2 (windows msvc)
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          install: gettext

      - name: Compile translations (windows msvc)
        shell: msys2 {0}
        run: lang/compile_mo.sh all

      - name: Install MSBuild (windows msvc)
        uses: microsoft/setup-msbuild@v2
        with:
          vs-version: 17.13

      - name: Install stable CMake
        uses: lukka/get-cmake@v3.31.6

      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable("ACTIONS_CACHE_URL", process.env.ACTIONS_CACHE_URL || "")
            core.exportVariable("ACTIONS_RUNTIME_TOKEN", process.env.ACTIONS_RUNTIME_TOKEN || "")

      - name: Install vcpkg
        uses: lukka/run-vcpkg@main
        id: runvcpkg
        with:
          vcpkgDirectory: "${{ runner.workspace }}/b/vcpkg"

      - name: Integrate vcpkg
        run: vcpkg integrate install

      - name: Setup ccache (Windows)
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: pr-windows-debug-tiles-${{ github.ref_name }}
          restore-keys: |
            pr-windows-debug-tiles-${{ github.ref_name }}
            pr-windows-debug-tiles-main
            pr-windows-debug-tiles-
          max-size: 500M
          verbose: 2
          save: false

      - name: Configure ccache for MSVC
        run: |
          echo "CCACHE_BASEDIR=${{ github.workspace }}" >> $env:GITHUB_ENV
          echo "CCACHE_SLOPPINESS=include_file_ctime,include_file_mtime,time_macros,pch_defines" >> $env:GITHUB_ENV
          echo "CCACHE_NOHASHDIR=1" >> $env:GITHUB_ENV

      - name: Configure and Build CBN (windows msvc)
        uses: lukka/run-cmake@v10
        with:
          configurePreset: ${{ env.CMAKE_PRESET }}
          buildPreset: windows-msvc-build
          buildPresetAdditionalArgs: "['--config', 'Debug']"

      - name: Compile .mo files for localization
        run: cmake --build out/build/${{ env.CMAKE_PRESET }} --target translations_compile --config Debug

      - name: Create distribution package (windows msvc)
        shell: pwsh
        run: |
          $suffix = "pr-${{ github.event.pull_request.number || github.ref_name }}-${env:GITHUB_SHA.Substring(0,7)}"
          $distDir = "cataclysmbn-$suffix"

          cmake --install "out/build/${{ env.CMAKE_PRESET }}" --prefix "$distDir" --config Debug
          Compress-Archive -Force -Path "$distDir/*" -DestinationPath "cbn-windows-tiles-debug-$suffix.zip"

      - name: Upload artifact (Windows)
        uses: actions/upload-artifact@v4.6.0
        with:
          name: cbn-windows-tiles-debug-pr-${{ github.event.pull_request.number || github.ref_name }}
          path: cbn-windows-tiles-debug-*.zip
          if-no-files-found: error
          retention-days: 14

  osx_debug_tiles:
    name: macOS (tiles) Debug
    runs-on: macos-15
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install runtime dependencies (mac)
        uses: BrettDong/setup-sdl2-frameworks@v1
        with:
          sdl2: 2.30.11
          sdl2-ttf: 2.24.0
          sdl2-image: 2.8.4
          sdl2-mixer: 2.8.0

      - name: Install build dependencies (mac)
        run: |
          HOMEBREW_NO_AUTO_UPDATE=yes HOMEBREW_NO_INSTALL_CLEANUP=yes brew install gettext parallel llvm@20 astyle sqlite3 zlib

      - name: Setup ccache (mac)
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: pr-osx-debug-tiles-${{ github.ref_name }}
          restore-keys: |
            pr-osx-debug-tiles-${{ github.ref_name }}
            pr-osx-debug-tiles-main
            pr-osx-debug-tiles-
          max-size: 500M
          verbose: 2
          save: false

      - name: Build app bundle (mac)
        shell: bash
        run: |
          make -j3 CCACHE=1 TILES=1 SOUND=1 RELEASE=0 DEBUG_SYMBOLS=1 LOCALIZE=1 LANGUAGES=all \
            BACKTRACE=0 PCH=0 USE_HOME_DIR=1 OSX_MIN=11 FRAMEWORK=1 COMPILER="$(brew --prefix llvm@20)/bin/clang++" app

      - name: Create distribution package (mac)
        shell: bash
        run: |
          artifact_suffix="pr-${{ github.event.pull_request.number || github.ref_name }}-${GITHUB_SHA::7}"
          ditto -c -k --sequesterRsrc --keepParent Cataclysm.app "cbn-osx-tiles-debug-${artifact_suffix}.zip"

      - name: Upload artifact (mac)
        uses: actions/upload-artifact@v4.6.0
        with:
          name: cbn-osx-tiles-debug-pr-${{ github.event.pull_request.number || github.ref_name }}
          path: cbn-osx-tiles-debug-*.zip
          if-no-files-found: error
          retention-days: 14

  android_debug_apk:
    name: Android Debug APK
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up JDK 11 (android)
        uses: actions/setup-java@v4.1.0
        with:
          java-version: "11"
          distribution: "adopt"

      - name: Setup build and dependencies (android)
        run: |
          sudo apt-get update
          sudo apt-get install gcc-14 gettext libsqlite3-dev zlib1g-dev zip
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 100
          g++ --version

      - name: Setup ccache (android)
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: pr-android-debug-${{ github.ref_name }}
          restore-keys: |
            pr-android-debug-${{ github.ref_name }}
            pr-android-debug-main
            pr-android-debug-
          max-size: 500M
          verbose: 2
          save: false

      - name: Build (android)
        working-directory: ./android
        env:
          NDK_CCACHE: ccache
        shell: bash
        run: |
          chmod +x gradlew
          ./gradlew -Pj=$(nproc) -Pabi_arm_32=false assembleExperimentalDebug

      - name: Create distribution package (android)
        shell: bash
        run: |
          artifact_suffix="pr-${{ github.event.pull_request.number || github.ref_name }}-${GITHUB_SHA::7}"
          apk_path=$(ls -1 android/app/build/outputs/apk/experimental/debug/*.apk | head -n1)
          cp "${apk_path}" "cbn-android-debug-${artifact_suffix}.apk"
          zip "cbn-android-debug-${artifact_suffix}.zip" "cbn-android-debug-${artifact_suffix}.apk"

      - name: Upload artifact (android)
        uses: actions/upload-artifact@v4.6.0
        with:
          name: cbn-android-debug-pr-${{ github.event.pull_request.number || github.ref_name }}
          path: cbn-android-debug-*.zip
          if-no-files-found: error
          retention-days: 14
